.dart_tool/
build/
pubspec.lock

.DS_Store
*.iml
*.swp
*.log

node_modules/
ios/Pods/
.metadata

# OHOS build
example/ohos/oh_modules/
example/ohos/.hvigor/
example/ohos/build/
oh_modules/
.hvigor/
ohos/.cxx/
ohos/.idea/
ohos/BuildProfile.ets

# FVM
.fvm/
.fvm_config.json
